body { background-color: black;

}
nav {
    font-size: 8pt;
    background-color: coral;
    
    
}
.navbar-brand img {
    height: 8vh;
    
}
* {
    font-family: 'Roboto';
  }
footer{
        background-color: coral;
        
        
}
footer p{
    text-align:left;
    color: white;
}
.card-text {
    color:white;
}

p{
    text-align: justify;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}
h5 {
    text-align: center;
    color: white;
}

#fondocard{
    
    background-color:coral ;
}
    
nav svg{
    size: 5pt;
}
