body { 
    font-family:"raleway", sans-serif ;
    color: #fff;
    background-color: black;

}
   
.navbar-brand img {
    height: 8vh;
    
}

.card-text {
    color:white;
}
.card h-100 img{
  max-height: 150px;
}

.carousel-item img{
    max-height: 100vh;
}

p{
    text-align: justify;
    color: white;
}


h5 {
    text-align: center;
    color: white;
}



